force-app/main/default/flows/Document_Template_Creation_UI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>Doctemps</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Document_Template__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Document Template Creation (UI) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Template Creation (UI)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_Template</name>
        <label>Select Template</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_the_automatic_generation</targetReference>
        </connector>
        <fields>
            <name>Select_a_Template</name>
            <choiceReferences>Doctemps</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_of_the_Document</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId</elementReference>
            </defaultValue>
            <fieldText>Name of the Document</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_the_automatic_generation</name>
        <label>Call the automatic generation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>Generate_Document_from_Template</flowName>
        <inputAssignments>
            <name>DXTemplates_DocumentName</name>
            <value>
                <elementReference>Name_of_the_Document</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DXTemplates_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DXTemplates_TemplateId</name>
            <value>
                <elementReference>Select_a_Template</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
