force-app/main/default/flows/Opp_Generate_PDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Generate_PDF_Document_through_Flow_Action_1</name>
        <label>Generate PDF Document through Flow. Action 1</label>
        <locationX>666</locationX>
        <locationY>950</locationY>
        <actionName>documentAutomationController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>docOrientation</name>
            <value>
                <elementReference>PDF_Orientation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docSize</name>
            <value>
                <elementReference>PDF_Size</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentName</name>
            <value>
                <elementReference>Document_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>multiplePdf</name>
            <value>
                <elementReference>Create_Individual_PDFs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>multipleRecordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Choose_a_Template</elementReference>
            </value>
        </inputParameters>
        <nameSegment>documentAutomationController</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_PDF_Document_through_Flow_Action_1</name>
        <label>Generate PDF Document through Flow. Action 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>documentAutomationController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>docOrientation</name>
            <value>
                <elementReference>PDF_Orientation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docSize</name>
            <value>
                <elementReference>PDF_Size</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentName</name>
            <value>
                <elementReference>Document_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>multiplePdf</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Choose_a_Template</elementReference>
            </value>
        </inputParameters>
        <nameSegment>documentAutomationController</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>First_item_assignment</name>
        <label>First item</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>multipleRecordIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multiple_Ids_to_String</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Ids_to_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_counter</name>
        <label>Loop counter</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_first_item_in_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>String_Construct</name>
        <label>String Construct</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>multipleRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!Multiple_Ids_to_String}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Ids_to_String</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A4Size</name>
        <choiceText>A4 Size</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A4</stringValue>
        </value>
    </choices>
    <choices>
        <name>A5Size</name>
        <choiceText>A5 Size</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Landscape</name>
        <choiceText>Landscape</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landscape</stringValue>
        </value>
    </choices>
    <choices>
        <name>LetterSize</name>
        <choiceText>Letter Size</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portrait</name>
        <choiceText>Portrait</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portrait</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_first_item_in_loop</name>
        <label>Check if first item in loop</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>String_Construct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_item_assignment</targetReference>
            </connector>
            <label>First item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_recordId</name>
        <label>Check if recordId or Multiple Ids</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Multiple_Ids_to_String</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple IDs</defaultConnectorLabel>
        <rules>
            <name>Single_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_PDF_Document_through_Flow_Action_1</targetReference>
            </connector>
            <label>Single ID</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TemplateChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Document_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opp- Generate PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp- Generate PDF</label>
    <loops>
        <name>Multiple_Ids_to_String</name>
        <label>Multiple Ids to String</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Generate_PDF_Document_through_Flow_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_recordId</targetReference>
        </connector>
        <fields>
            <name>Generate_PDF_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Generate_PDF_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Choose_a_Template</name>
                    <choiceReferences>TemplateChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose a Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Generate_PDF_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Generate_PDF_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_Individual_PDFs</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Individual PDFs?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ids</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Generate_PDF_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Generate_PDF_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Document Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Generate_PDF_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PDF_Orientation</name>
                    <choiceReferences>Portrait</choiceReferences>
                    <choiceReferences>Landscape</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>PDF Orientation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Generate_PDF_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PDF_Size</name>
                    <choiceReferences>A4Size</choiceReferences>
                    <choiceReferences>A5Size</choiceReferences>
                    <choiceReferences>LetterSize</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>PDF Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>multipleRecordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
